* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.h1style {
  font-size: 20px;
  padding-bottom: 24px;
  margin-bottom: 15px;
  justify-content: center;
  font-weight: bold;
}

.star {
  cursor: pointer;
  text-align: center;
  font-size: 32px;
  color: gray;
  display: inline-block;
  line-height: 1;
  width: 40px;
  box-sizing: border-box;
  transition: color 0.2s ease;
}

.star.active {
  color: gold;
}
