* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  padding: 30px;
  background: white;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.h1style {
  border-radius: 8px;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 100%;
  max-width: 360px;
  margin: 10px auto;
  margin-top: 20px;
  background: #222;
}

.star {
  cursor: pointer;
  font-size: 40px;
  color: gray;
  width: 50px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  transition: color 0.2s ease;
}

/* reset-btn */
.reset-btn {
  margin-top: 26px;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: blue;
  color: white;
  font-weight: bold;
}

.reset-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover {
  border-radius: 7px;
  transition: background 0.2s ease-in-out;
}

.rating-paragraph {
  padding-top: 14px;
}

.myTitle {
  font-weight: bold;
  font-size: 20px;
  color: rebeccapurple;
  margin-bottom: 15px;
}

.systemFeedback {
  background: #fff;
  width: 100%;
  max-width: 360px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
}
.systemFeedback h1 {
  font-size: 20px;
  padding: 10px;
}

.logs {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.user-name {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.titles {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
