* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  padding: 50px;
  background: white;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.h1style {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.star {
  cursor: pointer;
  font-size: 40px;
  color: gray;
  width: 50px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  transition: color 0.2s ease;
}

.feedbackMessages {
  margin-top: 12px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  min-height: 24px;
}

/* submit button */
.reset-btn {
  margin-top: 26px;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: blue;
  color: white;
  font-weight: bold;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover {
  border-radius: 7px;
  transition: background 0.2s ease-in-out;
}

.modal-overly {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  margin-bottom: 480px;
  text-align: center;
  border-radius: 12px;
  width: 300px;
}

.modal h2 {
  margin-bottom: 1px;
  color: #333;
}
/* Close modal button */
.close-btn {
  margin-top: 15px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: red;
}

.rating-paragraph {
  padding-top: 14px;
}
