* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 19px;
}

.border {
  background: #0099cc;
  padding: 20px;
  border-radius: 3px;
  margin-top: 10px;
  max-width: 80%;
  margin-left: 2em;
}

.paragraph {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  max-width: 70%;
  margin-left: 4em;
  padding: 20px;
  background: #222;
}

.lists {
  padding: 20px;
  align-items: center;
  background: rebeccapurple;
  border-radius: 3px;
  margin-top: 10px;
}

.list-ui {
  padding: 7px;
  margin-left: 30px;
  align-items: center;
  font-size: 22px;
  list-style: none;
}

.users {
  color: black;
  font-size: 20px;
  list-style: none;
  padding: 5px;
}
